.App {
  text-align: center;
  margin-top: 30px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #888;
  height: 40px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.message-list {
  margin-bottom: 30px;
}

.message {
  border-left: 1px solid #CDCDCD;
  border-right: 1px solid #CDCDCD;
  border-bottom: 1px solid #CDCDCD;
  height: 45px;
  display: flex;
  align-items: center;
}

.message button {
  margin: 2px;
}

.form {
  display: flex;
  align-items: center;
  border: 1px solid #CDCDCD;
  height: 50px;
}

.input-name {
  margin-left: 10px;
  width: 200px;
}

.input-message {
  margin-left: 10px;
  width: 400px;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  padding: 50;
  position: fixed;
  right: 0;
  top: 0;
}

.modal {
  background-color: #fff;
  border-radius: 5;
  margin: 0 auto;
  max-width: 500;
  min-height: 300;
  padding: 30;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
